@{
    ViewData["Title"] = "Admin Page";
}


<!-- Customer Lookup Form-->
@model AdminModel

<div>
    <h1 class="mt-2">Customer Search</h1>
</div>

<form class="row g-3 mt-2" method="get">

  <div class="col-md-3">
    <input type="text" class="form-control" id="customerFirstName" placeholder="First Name" name="firstName" >
  </div>
  <div class="col-md-3">
    <input type="text" class="form-control" id="customerLastName" placeholder="Last Name" name="lastName">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>

@foreach(var customer in @Model.Customers){
  <p>@customer.FirstName @customer.LastName</p>
}
