@{
    ViewData["Title"] = "Home Page";
}

<header class="text-center border mb-4">
    <h1 class="display-4">Welcome to the Playful Pawn</h1>
    <hr />
    <p>Your premiere board game café in Polk county!</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.150332310589!2d-123.23110432302637!3d44.90456557107034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54c0025cbb1a18f9%3A0xe226d8df7d18aa00!2s2086-1800%20S%20Pacific%20Hwy%20W%2C%20Independence%2C%20OR%2097351!5e1!3m2!1sen!2sus!4v1740601342119!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <p>Located in the middle of nowhere, Polk County, Oregon!</p>
    <p>We have a wide selection of board games, card games, and tabletop games for you to enjoy. We also have plenty of snacks and drinks available!</p>
    <p>Whether you're a seasoned gamer or just starting out, we have something for everyone.</p>
    <p>Tables available! Please visit our <a asp-action="Reservations">reservations page</a> for more information.</p>
</header>
